.modal {
	background-color: hsla(251, 44%, 3%, 0.95);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modalContent {
	display: flex;
	flex-direction: column;
	width: 65%;
	padding: 2.5rem;
}
.modalHeader {
	width: 100%;
}
